<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Headers</key>
		<array>
			<string>Cookie: downloadKey=expires=1388710803~access=/us/r1000/098/Purple/v4/c3/4e/98/c34e989a-8522-fde0-...</string>
			<string>User-Agent: iTunes/11.1.3 (Macintosh; OS X 10.9) AppleWebKit/537.71</string>
		</array>
		<key>URL</key>
		<string>http://localhost/WWDC.ipa</string>
	</dict>
</array>
</plist>
